<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node web server</title>
  </head>
  <body>
    {{> header}}
    <p>This is my humble portfolio with all the super basic stuff I am doing these days</p>
    {{> footer}}
  </body>
</html>